/* print-styles.css */

@media print {
  body {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }

  .printable-content,
  .printable-content * {
    visibility: visible;
  }

  .printable-content {
    position: absolute;
    left: 0;
     top: 0;
    width: 100%;
    margin: 0;
  }
}
